<ActionBar [title]="iTitle" (loaded)="onActionBarLoaded()">
    <NavigationButton text="GO Back" android.systemIcon="ic_menu_back"
        (tap)="onGoBack()" *ngIf="canGoBack && showBackButton">
    </NavigationButton>

    <NavigationButton class="action-btn"
        *ngIf="hasMenu && issAndroid && (!canGoBack || !showBackButton)"
        icon="res://baseline_menu_24"
        (tap)="onToggleMenu()">
    </NavigationButton>
    <!-- below for ios and above for android-->
    <ActionItem
        *ngIf="hasMenu && !issAndroid && (!canGoBack && !showBackButton)"
        ios.position="left" (tap)="onToggleMenu()">
        <Label text="MENU"> </Label>
    </ActionItem>
</ActionBar>
