<!-- <ActionBar title="Auth" class="action-bar">
</ActionBar>

<ScrollView class="page">
	<StackLayout class="home-panel">

	</StackLayout>
</ScrollView> -->
<shared-actionbar [iTitle] ="isLogin ? 'Login' : 'Signup'"  [showBackButton]="false" [hasMenu]="false">
</shared-actionbar>
<StackLayout class="form" [formGroup]="form">
	<StackLayout class="input-field">
		<label class="label" text="UserID" [ngClass]="{invalid: !userIdIsTrue }"></label>
		<TextField  class="input" hint="Email"
		 required returnKeyType="next"
		 formControlName="userId"
		 keyboardType="email"
		 [autocorrect]="false"
		 autocapitalizationType="none"
		 #userEl>
		</TextField>
		<label *ngIf="!userIdIsTrue" text="please enter valid email"></label>
	</StackLayout>
	<StackLayout class="input-field">
		<label class="label" text="Password"  [ngClass]="{invalid:!passwordIsTrue}"></label>
		<TextField  class="input" hint="Password must be 6 length"
		[secure]="true"
		[autocorrect]="false"
		autocapitalizationType="none"
		required returnKeyType="next"
		formControlName="pass"
		#passEl
		(returnPress) = "onDone()">
		</TextField>
		<label *ngIf="!passwordIsTrue" text="please enter valid password"></label>
	</StackLayout>

	<StackLayout class="input-field">
		<Button class="btn btn-flat"  [text] ="isLogin ? 'Login' : 'Signup'"
		 (tap)="onModeChange()"></Button>
	</StackLayout>

	<!-- (tap)="onSubmit(userId.value,pwd.value)"> -->
	<StackLayout class="input-field">
		<Button class="btn btn-primary"  [text] ="isLogin ? 'Login' : 'Signup'"
		 [isEnabled]="form.valid"
		 (tap)="onSubmit()"></Button>
	</StackLayout>
	<StackLayout >
		<label [text]="temp"></label>
	</StackLayout>
	</StackLayout>
