
<FlexboxLayout>
    <Button  text="Completed" *ngIf="action !== 'complete'" class="btn btn-success"
     (tap)="onActionTap('complete')" [isEnabled]="!done"></Button>
    <StackLayout class="btn btn-success btn-rounded-lg"  *ngIf="action === 'complete'">
        <Label class="fa btn-alt animate-button" text="&#xf00c;" horizontalAlignment="center"></Label>
        <!-- &#xf00c; -->
    </StackLayout>
    <Button  text="Failed"  *ngIf="action !== 'fail'" class="btn btn-fail"
    (tap)="onActionTap('fail')" [isEnabled]="!done"></Button>
    <StackLayout  class="btn btn-fail btn-rounded-lg" *ngIf="action === 'fail'" >
        <Label class="fa btn-alt animate-button" text="&#xf00d;" horizontalAlignment="center"></Label>
    </StackLayout>
    <Button class="btn btn-flat" (tap)="onActionTap('cancel')" [text]="cancelReset"></Button>
</FlexboxLayout>
