<!-- <StackLayout>
    <ScrollView> -->
<ListView [items]="challengeValue" (itemTap)="onTapItem($event)">
    <!-- iosEstimatedRowHeight="85" -->
    <ng-template let-challenge="item" let-i="index">
        <GridLayout rows="40,40" columns="50,*">
            <lblel class="lbl" textWrap="true" row="0" col="0" rowSpan="2"
                horizontalAlignment="center" [text]="i">
            </lblel>
            <lblel class="lbl" textWrap="true" row="0" col="1"
                horizontalAlignment="center" [text]="challenge">
            </lblel>
            <lblel class="lbl" textWrap="true" row="1" col="1"
                horizontalAlignment="center" [text]="challenge">
            </lblel>
        </GridLayout>
    </ng-template>
</ListView>
<!-- </ScrollView>
</StackLayout> -->
