<shared-actionbar iTitle="Today Challenge" [showBackButton]="shouldShowBackButton"
    [hasMenu]="true"></shared-actionbar>
 <!-- <StackLayout>
   <Label class="txt" text="today's Challenge"></Label>
    <Button class="btn" text="today Challengee1"
        [nsRouterLink]="['challenges/tabs',{outlets:{ today: ['editTodayChallenge'] } }]"
        clearHistory="false" pageTransition="slideLeft">

    </Button>
</StackLayout>-->
<FlexboxLayout *ngIf="!currentDay" class="page">
    <Label class="text-center nochallenge" text="No challenge found!"></Label>
    <Button
      class="btn btn-primary"
      text="Create One!"
      nsRouterLink="/challenges/replace"
      pageTransition="slideLeft"
    ></Button>
  </FlexboxLayout>
<FlexboxLayout *ngIf="currentDay" class="page">
    <label class="h1" [text]="currentDay.date | date"></label>
    <challenge-action (actionEmitter)="onActionTap($event)" cancelReset="Cancel"></challenge-action>
</FlexboxLayout>
