
.flex{
	height: 12%;
	margin: 0 0 0 0 ;
	border-color: black;
	border-style: solid;
}
.btn{
	background: #c80d5b;
	border-radius: 30%;
	width: 40%;
	color: white;
	margin: 15 5 20 0;
}
.txt{
	color: #c80d5b;
	padding: 0 0 0 0 ;
	margin: 20 0 0 5;
	border-color: #c80d5b;
	width: 60%;
	font-size: 14px;
	height: auto;

}
