@import '../../themes/colors';

.form{
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
}

.flex{
	height: 12%;
	margin: 0 0 0 0 ;
	border-style: solid;
}
.btn{
	width: 40%;
	margin: 15 5 20 0;
}
.txt{

	padding: 0 0 0 0 ;
	margin: 20 0 0 5;
	width: 60%;
	font-size: 14px;
	height: auto;

}
