<shared-actionbar [iTitle]="isCreating ? 'Replace Challengee' : 'Edit Challenge'" [showBackButton]="true"
    [hasMenu]="true"></shared-actionbar>
<FlexboxLayout class="form">
<StackLayout class="input-field">
    <label class="label" text="Title"></label>
    <TextField  class="input" hint="Enter challenge...">
    </TextField>
</StackLayout>
<StackLayout class="input-field">
    <label class="label" text="Title"></label>
    <TextField  class="input" hint="Enter challenge...">
    </TextField>
</StackLayout>
<stackLayout class="input-field">
    <Button class="btn btn-primary" text ="Save"></Button>
</stackLayout>
</FlexboxLayout>
